.link {
  --animated-btn-height: 500px;
  --animated-btn-height-min: 50px;
}

@media (min-width: 768px) {
  .container {
    animation: 1s linear 0s infinite alternate scale-button;
    transform-origin: bottom;
    animation-play-state: paused;
    animation-delay: calc(var(--animated-btn-scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes scale-button {
    from {
      height: var(--animated-btn-height-min);
    }
    to {
      height: var(--animated-btn-height);
    }
  }

  .container__title {
    animation: 1s linear 0s infinite alternate scale-text-size;
    transform-origin: bottom;
    animation-play-state: paused;
    animation-delay: calc(var(--animated-btn-scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes scale-text-size {
    to {
      font-size: 2rem;
    }
  }
}

@media (min-width: 1280px) {
  @keyframes scale-text-size {
    to {
      font-size: 3rem;
    }
  }
}
